<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>New User Signup!</h1>

    <p> Email: <%= @email %>  </p>
    <p>Fullname: <%= @fullname %>    </p>
    <!-- <p>Mobile Number: <%#= @user.mobile_number %>    </p>
     <p>Gender: <%#= @user.gender%>    </p> -->
      
       <p>check users list here https://www.cybercityschool.com/users </p>
    <br>
 
  </body>
</html>