<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>A Student Applied!</h1>

    <!-- <p> Student ID: <%#= @student_details.student_id %>  </p>
    <p>Skill Level: <%#= @student_details.skill_level %>    </p>
    <p>Reason For Applying: <%#= @student_details.reason %>    </p> -->
   
      
       <p>check users list here https://www.cybercityschool.com/users </p> 
    <br>
 
  </body>
</html>
 