<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @fullname %></h1>  
    <p>
      
      
    </p>
    <p>
      
    </p>
  

    <p> We appreciate your decision to apply to be part of the CyberCity School. Your application has been received and will be reviewed soon.  </p>
    <p>Kindly note you will only be admitted if you have paid atleast 50% of the course fees , ready to learn and also possess a personal laptop. </p>
    <p>To make payments kindly pay through this mobile money number 0559336599 with your CYBERCITY as reference or follow this link https://epaygh.com/pay/cyb-cybercity-school . Thank you </p>
    <br>
 
    <p>For any other information, Contact our office on +233276113371. </p> 
  </body>
</html> 