<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

    <h1>Welcome to CyberCity School, <%= @user.first_name %> !</h1>

    <p>
      <!-- <img src="http://localhost:3000/logo_new.jpg" class="d-inline-block align-top" alt="">  -->
      
    </p>
    <p>
      
    </p>
  

    <p>We appreciate your interest in CyberCity School. We promise to help you develop your software development skills in 12-weeks at a very affordable cost.  </p>
    <p>Kindly follow this link to proceed with the application https://www.cybercityschool.com/apply_classes . Thank you </p>
    <br>
 
    <p>For any other information, Contact our office on +233276113371. </p>
  </body>
</html>