
<!doctype html>
<html lang="en">
  
  <body>
	<div class="page-banner">           			
        <div class="hvrbox">
           <img src="/assets/desktop.jpg" alt="Mountains" class="hvrbox-layer_bottom">
            <div class="hvrbox-layer_top">
                <div class="container">
                    <div class="overlay-text text-left">						
                        <h3>About Us</h3>
                        <nav aria-label="breadcrumb">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About Us</li>
                          </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>	                     
    </div>

	<div class="about-us-2x">
		<div class="container">	
			<div class="row">	
				<div class="col-md-5">
					<div class="about-us-left">
						<h2>The CyberCity <span>Story</span></h2>
						<p><span>CyberCity School </span>started as an initiative by a group of software engineers in Ghana to create an environment or ecosytem of software developers.</p>
						<p>Our vision is to create a city full of game changers in futuristic technologies by impacting skills into people. A school specifically dedicated to teaching people how to code and be prepared for the future we are already witnessing.</p>
						<!-- <a href="#" class="btn-small"> Read More </a> -->
					</div>
				</div>
				<div class="col-md-6 offset-md-1">
					<div class="about-us-right with-video">
						<a href="" class="btn-circle video"><i class="fas fa-play"></i></a>
					</div>
				</div>
			</div>			
		</div>
	</div>

	<div class="about-us-2x only-description">
		<div class="container">	
			<div class="row">	
				<div class="col-md-6 padding-right">
					<div class="about-us-left container-out-left">						
						<h2>Why CyberCity <span>is the best?</span></h2>
						<p>CyberCity school provides hands-on approach to learning how to develop software solutions. Our Instructors are experts in a field of computer programming and have a track record of helping others to learn how to code in the easiest and faster way</p>
						<p>CyberCity ensures all students who undertake the courses are well vested for employment in any firm or create their own business.</p>
					</div>
				</div>
				<div class="col-md-6 padding-left">
					<div class="about-us-left container-out-right">
						<h2>CyberCity <span> courses </span></h2>
						<p>Our courses structured in a more dynamic approach teaching our students more software methodologies, modern programming languages and frameworks and international coding standards.</p>
						<p>We provide flexible course levels from beginners to advanced. Also, students who complete the course at every level is awarded a certificate just to recognize your skill achievement</p>
					</div>
				</div>
			</div>			
		</div>
	</div>

	<div class="about-us-2x about-differencs-2x">
		<div class="container">	
			<div class="row">	
				<div class="col-md-6 padding-right">
					<div class="about-us-left make-difference">
						<h2>What makes us <span>different?</span></h2>
						<p>We believe in ourselves to ensure students have the required skills in 12-weeks by employing a direct instructor-student practical apporoach in teaching coding or software development skills.</p>
						<p>Our course cost is the cheapest in the region whiles still maintaining quality in teaching and impacting skills.</p>
						
					</div>
				</div>
				<div class="col-md-6 padding-left">
					<div class="about-us-right container-out">
						<img src="/assets/about-1.png" alt="Mountains">
					</div>
				</div>
			</div>			
		</div>
	</div>

<!--     <div class="event-speakers best-instructor">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title-middle">
						<h2>Our Best Instructors</h2>
						<p> The speaker bio is typically used in the programs at conferences, they may be used on the <br>  organization's website when promoting the event. </p>
					</div>	
				</div>

				<div class="col-md-12">
					<div class="ddoctors-slider">
						<div class="row">
							<div class="col-md-3">
								<div class="single-speaker">
									<div class="hvrbox">
										<img src="/assets/speaker-1.png" alt="slide 1" class="hvrbox-layer_bottom">
										<div class="hvrbox-layer_top hvrbox-text">
											<div class="hvrbox-text">							
				                               <ul>
													<li><a href="#"> <i class="fab fa-facebook-f"></i> </a></li>
													<li><a href="#"> <i class="fab fa-twitter"></i> </a></li>
													<li><a href="#"> <i class="fab fa-instagram"></i> </a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="speaker-details">						
										<h2>Eden Hezard</h2>					  
										<p>Designer, Marketo</p>
									</div>										  
									
								</div> 
							</div>
							<div class="col-md-3">
								<div class="single-speaker">
									<div class="hvrbox">
										<img src="/assets/speaker-1.png" alt="slide 1" class="hvrbox-layer_bottom">
										<div class="hvrbox-layer_top hvrbox-text">
											<div class="hvrbox-text">							
				                               <ul>
													<li><a href="#"> <i class="fab fa-facebook-f"></i> </a></li>
													<li><a href="#"> <i class="fab fa-twitter"></i> </a></li>
													<li><a href="#"> <i class="fab fa-instagram"></i> </a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="speaker-details">						
										<h2>Jim Brown</h2>					  
										<p>Marketer, Marketo</p>
									</div>										  
									
								</div> 
							</div>
							<div class="col-md-3">
								<div class="single-speaker">
									<div class="hvrbox">
										<img src="/assets/speaker-1.png" alt="slide 1" class="hvrbox-layer_bottom">
										<div class="hvrbox-layer_top hvrbox-text">
											<div class="hvrbox-text">							
				                               <ul>
													<li><a href="#"> <i class="fab fa-facebook-f"></i> </a></li>
													<li><a href="#"> <i class="fab fa-twitter"></i> </a></li>
													<li><a href="#"> <i class="fab fa-instagram"></i> </a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="speaker-details">						
										<h2>Thomas Silva</h2>					  
										<p>Developer, Marketo</p>
									</div>										  
									
								</div> 
							</div>
							<div class="col-md-3">
								<div class="single-speaker">
									<div class="hvrbox">
										<img src="/assets/speaker-1.png" alt="slide 1" class="hvrbox-layer_bottom">
										<div class="hvrbox-layer_top hvrbox-text">
											<div class="hvrbox-text">							
				                               <ul>
													<li><a href="#"> <i class="fab fa-facebook-f"></i> </a></li>
													<li><a href="#"> <i class="fab fa-twitter"></i> </a></li>
													<li><a href="#"> <i class="fab fa-instagram"></i> </a></li>
												</ul>
											</div>
										</div>
									</div>
									<div class="speaker-details">						
										<h2>Waytte Tylor</h2>					  
										<p>Designer, Marketo</p>
									</div>										  
									
								</div> 
							</div>
							
						</div>		
					</div>
				</div>	
			</div>
		</div>
	</div> -->   

	<div class="cta-1x">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="cta-content">
						<h3>Ready to Begin?</h3>
						<p>Find subjects you're passionate about by browsing our online course categories. Start <br> learning top courses from Industry Experts.</p>
						<%= link_to "Start Learning",apply_classes_path,:class=> "btn-small" %>
						<a  class="btn-small">Start Teaching</a>
					</div>
				</div>					
			</div>
		</div>
	</div>

  </body>
</html>       