
<!doctype html>
<html lang="en">
  <head>
    
  <body>
  

	<div class="page-banner">           			
        <div class="hvrbox">
            <img src="/assets/desktop.jpg" alt="Mountains" class="hvrbox-layer_bottom">
            <div class="hvrbox-layer_top">
                <div class="container">
                    <div class="overlay-text text-left">						
                        <h3>Contact</h3>
                        <nav aria-label="breadcrumb">
                          <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Contact</li>
                          </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>	                     
    </div>
 
	<div class="contact-us-1x">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="title-left">
						<h2>Get in touch</h2>
					</div>	
				</div>
				<!-- <div class="col-md-7">
					<div class="contact-form">
						<form>
							<div class="row">
								<div class="col-md-12">	
									<div class="single-input">																  
										<div class="form-group">
											<input type="text" class="form-control" placeholder="Name*" aria-label="Name">				    										    						    
										</div>
									</div>
								</div>	
								<div class="col-md-12">
									<div class="single-input">																  
										<div class="form-group">							    
										    <input type="email" class="form-control" placeholder="Email*">							    
										</div>
								  	</div>
								</div>  		
								<div class="col-md-12">	
									<div class="single-input">							  
										<div class="form-group">										
											<textarea class="form-control" placeholder="Message*" rows="5"></textarea>
										</div>
									</div>
								</div>
								<div class="col-md-12">																	
									<a href="#" class="btn-small"> Submit Now </a>								
								</div>
							</div>

						</form>
					</div>
				</div> -->
				<div class="col-md-5">
					<div class="contact-address">
						<ul>
                       		<li>
								<div class="media">
									<img src="/assets/location.png" alt="Mountains">
								  <div class="media-body">
									Mallam - Gbawe, near Faith Montesorri School
								  </div>
								</div>
                       		</li>
                       		<li>
								<div class="media">
									<img src="/assets/phone.png" alt="Mountains">
								  <div class="media-body">
									+233 276113371<br>+233 559336599
								  </div>
								</div>
                       		</li>
                       		<li>
								<div class="media">
									<img src="/assets/message.png" alt="Mountains">
								  <div class="media-body">
									info@cybercityschool.com
								  </div>
								</div>
                       		</li>													
						</ul>

						<div class="footer-social-link">
							<ul>
								<li><a href="https://www.facebook.com/cybercityschool"> <i class="fab fa-facebook-f"></i> </a></li>	
											<li><a href="https://www.instagram.com/cybercityschool"> <i class="fab fa-instagram"></i> </a></li>		
											<li><a href="https://www.twitter.com/cybercityschool"> <i class="fab fa-twitter"></i> </a></li>
							</ul>					
						</div>
					</div>
				</div>
													
			</div>
		</div>
	</div> 

	

	<div class="cta-1x">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="cta-content">
						<h3>Ready to Begin?</h3>
						<p>Find subjects you're passionate about by browsing our online course categories. Start <br> learning top courses from Industry Experts.</p>
						<%= link_to "Start Learning",apply_classes_path,:class=> "btn-small" %>
						<a  class="btn-small">Start Teaching</a>
					</div>
				</div>					
			</div>
		</div>
	</div>

	
  </body>
</html>       