<style>
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: "Open Sans", sans-serif;
}

.container nav {
  width: 100%;
  height: 75px;
  background: #444759;
  border-bottom: 1px solid #3d3f50;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

nav ul {
  float:right;
  width: 250px;
  height: 100%;

  list-style: none;
  transition: all 0.5s ease;
}

nav ul li {
  width: 300px%;
  float: left;
  text-align: center;
  padding: 24px 15px;
  cursor: pointer;
  color: #eee;
  font-size: 17px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 0.5s ease;

  position: relative;
}

nav ul li:hover {
  color: #ea3b50;
  box-shadow: inset 0 5px #ea3b50;
}

/* sub-menu */

nav ul li ul.sub-nav {
  position: absolute;
  top: 75px;
  left: 0;
  width: 140%;
  height: 280px;
  background: #444759;
  border-top: 1px solid #3d3f50;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.14), -1px 0px 1px rgba(0, 0, 0, 0.14);
  visibility: hidden;
  opacity: 0;
}

nav ul li ul.sub-nav li {
  color: #eee;
  font-size: 14px;
  width: 100%;
  padding: 15px 0;
}

nav ul li ul.sub-nav li:hover {
  color: #ea3b50;
  box-shadow: 0 0;
}

nav ul li:hover ul.sub-nav {
  visibility: visible;
  opacity: 1;
}

#color_white{
  color:white;
}















</style>

<div class="container">
  <nav>
  <img src="/assets/plumlogo.jpeg" alt="Mountains"width="150px" >
    <ul>
      <li><%= link_to "Home ",root_path, id:"color_white" %>
      </li>
      <% if user_signed_in? %>
      <li>User
        <ul class="sub-nav">
        <li><%= link_to 'Edit Profile'.html_safe,edit_user_registration_path, id:"color_white" %></li>
          <li><%= link_to 'Log out',destroy_user_session_path, :method=> 'delete',id:"color_white"%></li>
         
          <%else%>
         
          <li> <%= link_to "Login", new_user_session_path,id:"color_white" %></li>
         
        </ul>
      </li>
      <% end %>
     

      
    </ul>
  </nav>
  
  <div class="header"></div>
</div>

